<html>
    <head>
        <title>Решение теста</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body style="background-color: #161617; color: #fff; margin:0 25% 0 25%; width:50%;">
    <div class="image-to-text">
        <div align="center" style="font-weight: 800; margin-top: 10px;font-size: 18px;background: rgba(255, 177,191, 0.7);padding: 20px 0px 20px 0px;width: 100%;border: 2px solid #fd002d;border-radius: 20px;">Сайт не гарантирует правильный ответ на вопрос!</div>
        <h1>Решение теста</h1>
        <p>Загрузите фотографию проверочной работы, подождите несколько минут и получите ответы на все вопросы!</p>
        <form id="image-form" method="POST" enctype="multipart/form-data">
            <label class="input-file">
                <span class="input-file-text" type="text"></span>
                <input type="file" name="file">
                <span class="input-file-btn">Выберите файл</span>
            </label>
            <button class="submit" type="submit">Отправить</button>
        </form>

        <script>
            const form = document.querySelector('#image-form');
            form.addEventListener('submit', event => {
                event.preventDefault();
                const file = document.querySelector('input[type=file]').files[0];
                const formData = new FormData();
                formData.append('image', file);
                fetch('/upload_image', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    const text = data.text;
                    const results = document.createElement('p');
                        results.style = `
                        border: 0px;
                        padding: 1px 20px 20px 20px;
                        border-radius: 20px;
                        font-size: 16px;
                        text-align: justify;
                        background-color: rgb(42, 42, 44);`;
                results.innerHTML = `${text}`;
                document.querySelector('div.image-to-text').appendChild(results);
                });
            });
        </script>
        <script>
            $('.input-file input[type=file]').on('change', function(){
            let file = this.files[0];
            $(this).closest('.input-file').find('.input-file-text').html(file.name);
            });
        </script>
    </div>
    <h1>Или</h1>
    <div class="text-to-answer">
        <h3>Напиши свой вопрос здесь!</h3>
        <form action="/process_text" method="POST">
            <textarea class="text-input" id="text_input" name="text_input" cols="100" rows="5" placeholder="Введите текст (до 300 символов)" style="background-color: rgb(42, 42, 44); color: #fff; padding: 20px; resize: none; border-radius: 20px; font-size: 16px;"></textarea>
        </form>
        <button class="submit" type="submit" onclick="sendText()">Узнать ответ</button>

        <script>
        function sendText() {
            const textInput = document.getElementById('text_input').value
            fetch('/process_text', {
              method: 'POST',
              body: JSON.stringify({text_input: textInput}),
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(response => response.json())
            .then(data => {
                const text = data.text;
                const results = document.createElement('p');
                results.style = `
                    border: 0px;
                    padding: 1px 20px 20px 20px;
                    border-radius: 20px;
                    font-size: 16px;
                    text-align: justify;
                    background-color: rgb(42, 42, 44);`;
                results.innerHTML = `${text}`;
                document.body.appendChild(results);
            })
          }
    </script>
    </div>

    </body>
</html>
